<% if current_user %>
<li class="nav-item">
   <%= link_to "Items", items_path, class:"nav-link" %>
</li>
</li>
<li class="nav-item">
   <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
</li>
</li>
<% else %>
<li class="nav-item">
   <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
</li>
<li class="nav-item">
   <%= link_to "Login", new_user_session_path, class:"nav-link" %>
</li>
<% end %>